  <h1 class="page-heading notice">Annuncio ricerca maestro/a infanzia</h1>
  <div class="notice">
    <p>
      L'Associazione MontessoriAttiva - Pavia ricerca per progetto Casa dei Bambini parentale in provincia di Pavia, un/a maestro/a infanzia con diploma di differenziazione didattica Montessori e voglia mettersi in gioco. Si valutano anche educatori che abbiamo il diploma di specializzazione per la prima infanzia e siano interessati ad acquisire il diploma Montessori per la scuola dell'infanzia.
    </p>
    <p>
      Requisiti: esperienza nella relazione con i bambini, conoscenza e apprezzamento del metodo, passione. Inviare cv a <a href="mailto:casadeibambinipavese@gmail.com">casadeibambinipavese@gmail.com</a>
    </p>
  </div>
