---
layout: post
title:  Open day alla Casa dei Bambini
date:   2024-01-30 12:00:00 +01:00
tags:   openday, casadeibambini
author: Margherita Simonetta
pinned: true
background: '/assets/img/cdb/IMG_2904.jpg'
---

<p>
  <strong>
    Sabato 3 febbraio dalle ore 10.00 alle 12.00, la Casa dei Bambini Montessori di Sommo (PV) aprirà le porte ai genitori che desiderano offrire ai propri figli un'educazione montessoriana.
  </strong>
</p>

<p>
  La Casa è stata creata da un gruppo di genitori che volevano offrire un'educazione Montessori ai propri figli in un ambiente accogliente e organizzato secondo i principi della pedagogista. I bambini dai 3 ai 6 anni sono i benvenuti nella Casa dei bambini, situata nell'ex asilo di Sommo in via Roma 94. 
</p>

{% include image.html url="/img/posts/2024-01-30/locandina.jpg" img="/img/posts/2024-01-30/locandina.jpg" title="Locandina" caption="Locandina dell'evento" %}

<p>
  Sabato 3 febbraio, coloro che sono interessati a conoscere il progetto, il personale e gli ambienti saranno i benvenuti. 
</p>
<p>
  Iscriviti a <a href="http://tinyurl.com/OpenDayCdB">questo link</a> oppure inquadra il QRcode qui sotto.
</p>
<p>
  {% include image.html url="http://tinyurl.com/OpenDayCdB" img="/img/posts/2024-01-30/qrcode.jpg" title="QR code" caption="QR Code" %}
</p>
<p>
  Per ulteriori informazioni o per prenotare, chiamate il numero <a href="tel:3463167540">346 3167540</a> o scrivere a <a href="mailto:prenotazioni.montessoriattiva@gmail.com">prenotazioni.montessoriattiva@gmail.com</a>
</p>



